$color-white: #ffffff;
$color-black: #000000;
$color-assistitive-focus: #35cdfd;
$color-brand-primary: #3b3b3b;
$color-brand-variant: #6243e6;
$color-brand-secondary: #6d4aff;
$color-brand-assist: #9981ff;
