.photos-card {
  padding: 24px;
  border-radius: 16px;
  background-color: $color-white;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.12);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h3 {
      @include Typography(14px, 700, rgba(0, 0, 0, 0.8));
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__item {
    width: 144px;
    height: 108px;
    border-radius: 10px;
    overflow: hidden;

    .button {
      width: 28px;
      height: 28px;
      padding: 0;
      position: absolute;
      top: 8px;
      right: 8px;
      color: $color-white;

      .icon {
        position: relative;
        left: 0;
      }
    }
  }
}
